
*{
  box-sizing: border-box;
}

html, body{
  height: 100%;
  min-height: 100%;
  font-size: 16px;
  background-color: #FAFAFA;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 100%;
  overflow-x: hidden;
}

.overflow{
  overflow: hidden;
}
