@import "layout/grid";
@import "resets";
@import "colors";

// Global
// ---------------------------------------------------------------------------------------------------------------------

section {
  padding: 30px;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

span {
  line-height: 20px;
}

.link {
  text-decoration: none;
  text-underline: none;
}

.full-height {
  min-height: 100vh;
}

.text-primary {
  background-image: linear-gradient(135deg, #0DC1FB, $primary_color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-secondary {
  background-image: linear-gradient(135deg, #123B41, $second_color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// HEADER

.header {
  text-align: center;

  .header__text {
    animation: opacity;
    animation-duration: 4s;
  }

  .avatar {
    border-radius: 1000px;
    overflow: hidden;
    height: 200px;
    width: 200px;
    border: 3px solid $primary_color;
    animation: opacity;
    animation-duration: 5s;

    &:hover {
      transform: scale(1.01);
    }

    img {
      height: 200px;
    }
  }
}

@keyframes opacity {
  from {
    visibility: hidden;
    opacity: 0;
  }
}

// ABOUT ME

.about {
  background-color: $primary_color;
  background-image: linear-gradient(135deg, #0DC1FB, $primary_color);
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  border-top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

  header {
    text-align: center;
  }

  .hero {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

}

.projects__carousel {
  color: $second_color;
}

.carousel-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: auto;

  &:not(.is-selected) {
    opacity: 0.4;
  }


}

@media only screen and (max-width: 600px) {
  .carousel-cell {
    width: 90%;
  }
  .about {

    clip-path: none;
  }
}

.development {
  background-image: linear-gradient(135deg, #0DC1FB, $primary_color);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem;
  margin-top: -10rem;
  margin-bottom: -1px;
  color: #fff;


  .tech-cell {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 4px;
    overflow: hidden;

    img {
      width: 100px;
      border-radius: 4px;
    }

  }
}

.contact {
  background-image: linear-gradient(135deg, $white_color, $white_color);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem;
  margin-top: -10rem;
  margin-bottom: -1px;
  color: $second_color;

  .social-icon {
    font-size: 60px;
    text-decoration: none;
    text-underline: none;
    color: $second_color;
    padding-right: 16px;

    &:hover {
      opacity: 0.8;
    }
  }
}

.footer {
  background-image: linear-gradient(135deg, #0DC1FB, #77c8fb);
  clip-path: polygon(0 15vh, 176% 0, 100% 100%, 0 100%);
  padding: 2rem 0 2rem;
  margin-top: -10rem;
  color: #fff;

  b {
    padding-top: 8rem;
  }
}
